MYSQL_ROOT_PASSWORD=superrootpass
MYSQL_DATABASE=teesdb
MYSQL_USER=teesdbuser
MYSQL_PASSWORD=teessqlpassword

WORDPRESS_DB_HOST=db
WORDPRESS_DB_NAME=teesdb
WORDPRESS_DB_USER=teesdbuser
WORDPRESS_DB_PASSWORD=teessqlpassword